@{
    ViewData["Title"] = "PropertySingle";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/Default/Index/">Ana Sayfa</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> İlanlar</li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> İlan Detayları</li>
        </ul>
    </div>
</section>
<!--/blog-post-->
<section class="w3l-blog post-content py-5">
    <div class="container py-lg-4 py-md-3 py-2">
        <div class="inner mb-4">
            <ul class="blog-single-author-date align-items-center">
                <li>
                    <div class="listing-category"><span>@ViewBag.type</span></div>
                </li>
                <li><span class="fa fa-clock-o"></span> Yaklaşık @ViewBag.datediff Ay Önce İlana Eklendi.</li>
                <li><span class="fa fa-eye"></span> 250 Kişi bu ilanı görüntüledi.</li>
            </ul>
        </div>
        <div class="post-content">
            <h2 class="title-single"> @ViewBag.title1</h2>
        </div>
        <div class="blo-singl mb-4">
            <ul class="blog-single-author-date align-items-center">
                <li>
                    <p>@ViewBag.address @ViewBag.district / @ViewBag.city</p>
                </li>
                <li><span class="fa fa-bed"></span> @ViewBag.bedCount Yatak Odası</li>
                <li><span class="fa fa-bath"></span> @ViewBag.bathCount Banyo</li>
                <li><span class="fa fa-share-square-o"></span> @ViewBag.size metrekare</li>
            </ul>
            <ul class="share-post">
                <a href="#url" class="cost-estate m-o">₺ @ViewBag.price</a>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-8 w3l-news">
                <div class="blog-single-post">


                    @await Component.InvokeAsync("_PropertySliderComponentPartial",new{id=ViewBag.i})


                    <div class="single-post-content">
                        <h3 class="post-content-title mb-3">İlan Açıklaması</h3>
                        <p class="mb-4">
                            @ViewBag.description
                        </p>

                        <div class="single-bg-white">
                            <h3 class="post-content-title mb-4">İlan Detayları</h3>
                            <ul class="details-list">
                                <li><strong>İlan Id :</strong> @ViewBag.produtcId </li>
                                <li><strong>Metrekate :</strong> @ViewBag.size </li>
                                <li><strong>Oda Sayısı :</strong> @ViewBag.roomCount </li>
                                <li><strong>Yatak Odası :</strong> @ViewBag.bedCount </li>
                                <li><strong>Banyo Sayısı :</strong> @ViewBag.bathCount </li>
                                <li><strong>Exterior material :</strong> Brick </li>
                                <li><strong>Yapı Türü :</strong> Beton </li>
                                <li><strong>Garaj Sayısı :</strong> @ViewBag.garageCount </li>
                                <li><strong>Garages :</strong> 15 </li>
                                <li><strong>Fiyat :</strong> @ViewBag.price ₺ </li>
                                <li><strong>Yapım Yılı :</strong> @ViewBag.buildYear </li>
                                <li><strong>İlan Tarihi :</strong> @ViewBag.date.ToString("dd-MMM-yyyy") </li>
                            </ul>
                        </div>

                        @await Component.InvokeAsync("_PropertyAmenityStatusTrueByPropertyIdComponentPartial")

                    </div>

                    <div class="single-bg-white">
                        <h3 class="post-content-title mb-4">Lokasyon</h3>
                        <div class="agent-map">
                            <iframe src="@ViewBag.location"></iframe>
                        </div>
                    </div>



                    <div class="single-bg-white mb-0">
                        <h3 class="post-content-title mb-4">Ev Tanıtım Videosu</h3>
                        <div class="post-content">
                            <iframe src="@ViewBag.videoUrl" frameborder="0"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("_PropertyAppUserComponentPartial")

        </div>
    </div>
</section>

