@model List<ResultSubFeatureDto>

<section class="w3l-bottom-grids py-5" id="steps">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="grids-area-hny main-cont-wthree-fea row">

            @foreach(var item in Model)
            {
                <div class="col-lg-4 col-md-6 grids-feature">
                    <div class="area-box no-box-shadow text-left">
                        <span class="@item.Icon"></span>
                        <h5>@item.TopTitle</h5>
                        <h4><a href="#feature" class="title-head">@item.MainTitle</a></h4>
                        <p>@item.Description</p>
                        <a href="#more" class="more">@item.SubTitle<span class="fa fa-long-arrow-right"></span> </a>
                    </div>
                </div>
            }
            
  
        </div>
    </div>
</section>